.example-container {
  position: absolute;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  width: 200px;
}

.sidenav-wrapper {
  min-height: calc(100vh - 58px);
  .sidenav-container {
    min-height: calc(100vh - 58px);
  }
}

.nav-wrapper {
  margin: 0px;
  padding: 0px;

  .nav-label {
    padding: 20px 20px 0;
    color: #b0b0b0;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .85rem;
  }

  .nav-container {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;

      a {
        display: block;
        padding: 0 20px;
        color: #646464;
        font-size: 1rem;
        line-height: 34px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .nav-icon {
          font-size:18px;
        }
        &:hover {
          background-color: #f0f0f0;
          text-decoration: none;
          outline: 0;
        }
      }
    }
  }
}
